openapi: 3.2.0
info:
  title: Charles Schwab Trader Transactions API
  description: REST API for accessing Charles Schwab retail brokerage accounts. Applications can list linked accounts, retrieve balances and positions, place and cancel equity and option orders, and read order and transaction history. Authentication uses OAuth 2.0 with three-legged authorization code flow; access tokens expire after 30 minutes and refresh tokens after 7 days.
  version: '1.0'
  contact:
    name: Schwab Developer Support
    url: https://developer.schwab.com/contact-us
  termsOfService: https://developer.schwab.com/terms
servers:
- url: https://api.schwabapi.com/trader/v1
  description: Schwab Trader Production
security:
- oauth2: []
tags:
- name: Transactions
  description: Account transaction history
paths:
  /accounts/{accountNumber}/transactions:
    get:
      operationId: listTransactions
      summary: List account transactions
      tags:
      - Transactions
      parameters:
      - name: accountNumber
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      - name: types
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Transactions list
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.schwabapi.com/v1/oauth/authorize
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes:
            api: Access Schwab Trader and Market Data APIs
externalDocs:
  description: Schwab Trader API Documentation
  url: https://developer.schwab.com/products/trader-api--individual
