openapi: 3.1.0
info:
  title: Charles Schwab Market Data Accounts Movers API
  description: REST API for retrieving real-time and historical market data from Charles Schwab including quotes, option chains, price history, market hours, instrument metadata, and movers for major US indices.
  version: '1.0'
  contact:
    name: Schwab Developer Support
    url: https://developer.schwab.com/contact-us
servers:
- url: https://api.schwabapi.com/marketdata/v1
  description: Schwab Market Data Production
security:
- oauth2: []
tags:
- name: Movers
  description: Top movers within indexes
paths:
  /movers/{symbol_id}:
    get:
      operationId: getMovers
      summary: Get top movers for an index
      tags:
      - Movers
      parameters:
      - name: symbol_id
        in: path
        required: true
        description: Index symbol such as $DJI, $COMPX, or $SPX.
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - VOLUME
          - TRADES
          - PERCENT_CHANGE_UP
          - PERCENT_CHANGE_DOWN
      - name: frequency
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Movers list
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.schwabapi.com/v1/oauth/authorize
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes:
            api: Access Schwab Trader and Market Data APIs
externalDocs:
  description: Schwab Market Data API Documentation
  url: https://developer.schwab.com/products/trader-api--individual
