openapi: 3.1.0
info:
  title: Charles Schwab Market Data Accounts Instruments API
  description: REST API for retrieving real-time and historical market data from Charles Schwab including quotes, option chains, price history, market hours, instrument metadata, and movers for major US indices.
  version: '1.0'
  contact:
    name: Schwab Developer Support
    url: https://developer.schwab.com/contact-us
servers:
- url: https://api.schwabapi.com/marketdata/v1
  description: Schwab Market Data Production
security:
- oauth2: []
tags:
- name: Instruments
  description: Instrument metadata search
paths:
  /instruments:
    get:
      operationId: searchInstruments
      summary: Search instruments by symbol or CUSIP
      tags:
      - Instruments
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
      - name: projection
        in: query
        required: true
        schema:
          type: string
          enum:
          - symbol-search
          - symbol-regex
          - desc-search
          - desc-regex
          - fundamental
      responses:
        '200':
          description: Instrument metadata
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.schwabapi.com/v1/oauth/authorize
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes:
            api: Access Schwab Trader and Market Data APIs
externalDocs:
  description: Schwab Market Data API Documentation
  url: https://developer.schwab.com/products/trader-api--individual
