openapi: 3.1.0
info:
  title: Charles Schwab Market Data Accounts Options API
  description: REST API for retrieving real-time and historical market data from Charles Schwab including quotes, option chains, price history, market hours, instrument metadata, and movers for major US indices.
  version: '1.0'
  contact:
    name: Schwab Developer Support
    url: https://developer.schwab.com/contact-us
servers:
- url: https://api.schwabapi.com/marketdata/v1
  description: Schwab Market Data Production
security:
- oauth2: []
tags:
- name: Options
  description: Option chain and expiration data
paths:
  /chains:
    get:
      operationId: getOptionChains
      summary: Get option chain for a symbol
      tags:
      - Options
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
      - name: contractType
        in: query
        schema:
          type: string
          enum:
          - CALL
          - PUT
          - ALL
      - name: strikeCount
        in: query
        schema:
          type: integer
      - name: includeQuotes
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Option chain
  /expirationchain:
    get:
      operationId: getOptionExpirationChain
      summary: Get option expiration chain for a symbol
      tags:
      - Options
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Expiration chain
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.schwabapi.com/v1/oauth/authorize
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes:
            api: Access Schwab Trader and Market Data APIs
externalDocs:
  description: Schwab Market Data API Documentation
  url: https://developer.schwab.com/products/trader-api--individual
