openapi: 3.1.0
info:
  title: Charles Schwab Market Data Accounts Quotes API
  description: REST API for retrieving real-time and historical market data from Charles Schwab including quotes, option chains, price history, market hours, instrument metadata, and movers for major US indices.
  version: '1.0'
  contact:
    name: Schwab Developer Support
    url: https://developer.schwab.com/contact-us
servers:
- url: https://api.schwabapi.com/marketdata/v1
  description: Schwab Market Data Production
security:
- oauth2: []
tags:
- name: Quotes
  description: Real-time and delayed quote data
paths:
  /quotes:
    get:
      operationId: getQuotes
      summary: Get quotes for one or more symbols
      tags:
      - Quotes
      parameters:
      - name: symbols
        in: query
        required: true
        description: Comma-separated list of ticker symbols.
        schema:
          type: string
      - name: fields
        in: query
        schema:
          type: string
      - name: indicative
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Quote data keyed by symbol
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Quote'
  /{symbol_id}/quotes:
    get:
      operationId: getQuote
      summary: Get quote for a specific symbol
      tags:
      - Quotes
      parameters:
      - name: symbol_id
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
components:
  schemas:
    Quote:
      type: object
      properties:
        symbol:
          type: string
        bidPrice:
          type: number
        askPrice:
          type: number
        lastPrice:
          type: number
        openPrice:
          type: number
        highPrice:
          type: number
        lowPrice:
          type: number
        netChange:
          type: number
        totalVolume:
          type: integer
        quoteTime:
          type: integer
          description: Epoch milliseconds
        tradeTime:
          type: integer
          description: Epoch milliseconds
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.schwabapi.com/v1/oauth/authorize
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes:
            api: Access Schwab Trader and Market Data APIs
externalDocs:
  description: Schwab Market Data API Documentation
  url: https://developer.schwab.com/products/trader-api--individual
