openapi: 3.1.0
info:
  title: Charles Schwab Market Data Accounts Price History API
  description: REST API for retrieving real-time and historical market data from Charles Schwab including quotes, option chains, price history, market hours, instrument metadata, and movers for major US indices.
  version: '1.0'
  contact:
    name: Schwab Developer Support
    url: https://developer.schwab.com/contact-us
servers:
- url: https://api.schwabapi.com/marketdata/v1
  description: Schwab Market Data Production
security:
- oauth2: []
tags:
- name: Price History
  description: Historical price candles
paths:
  /pricehistory:
    get:
      operationId: getPriceHistory
      summary: Get price history candles for a symbol
      tags:
      - Price History
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
      - name: periodType
        in: query
        schema:
          type: string
          enum:
          - day
          - month
          - year
          - ytd
      - name: period
        in: query
        schema:
          type: integer
      - name: frequencyType
        in: query
        schema:
          type: string
          enum:
          - minute
          - daily
          - weekly
          - monthly
      - name: frequency
        in: query
        schema:
          type: integer
      - name: startDate
        in: query
        schema:
          type: integer
          description: Epoch milliseconds
      - name: endDate
        in: query
        schema:
          type: integer
          description: Epoch milliseconds
      responses:
        '200':
          description: Candle history
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.schwabapi.com/v1/oauth/authorize
          tokenUrl: https://api.schwabapi.com/v1/oauth/token
          scopes:
            api: Access Schwab Trader and Market Data APIs
externalDocs:
  description: Schwab Market Data API Documentation
  url: https://developer.schwab.com/products/trader-api--individual
